* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:black;
    font-family: "Montserrat",sans-serif;

}

#logo{
    color: cornsilk;
    font-family: 'Abrin Fatface';
}
.nav-header {
    min-height: 10vh;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 80%;
    margin: auto;
    padding: 2rem 0rem;
}
.line1,.line2{
    width: 3rem;
    height:0.2rem;
    margin: 0.4rem;
    background: white;
    pointer-events: none;

}
.slide{
    min-height: 100vh;
    margin: 0 auto 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: black;
}
.hero-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-basis: 25rem;
    padding-left: 5rem;
position: relative;
}
.hero-img{
    position: relative;
    flex: 1;
    flex-basis: 25rem;
}
.hero-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.mountain-span{
color: rgb(77, 167, 209);
}
.hike-span{
color: rgb(226, 132, 104);
}
.fashion-span{
    color: orange;
    }

    .hero-desc h2{
        font-family: 'Abril Fatface';
        font-size: 5rem;
    }
    .hero-desc p{
        padding: 3rem 0rem;
        font-size: 1.5rem;
        color: white;
    }
    .explore {
        padding: 1rem 2rem;    
        background: none;    
        border: none;
        color: rgb(255, 255, 255);
        border: 1px solid rgb(238, 231, 231);
        font-size: 1rem;
        text-decoration: none;
        align-self: flex-start;
        cursor: pointer;

    }
    .nav-bar{
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 1;
        opacity: 1;
        clip-path: circle(50px at 100% -10%);
         -webkit-clip-path: circle(50px at 100% -10%);
        

    }
    .burger{
        cursor: pointer;
    }
    .nav-links {
        font-size: 3rem;
        flex-basis: 30rem;
    }


    .nav-links h3 {
        padding: 2rem 0rem;
    }
    .contact{
        flex-basis: 30rem;

    }
    .contact h2{
        font-size: 3rem;
        padding: 2rem;

    } 
    .contact p{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .reveal-img,.reveal-text{
        position: absolute;
        width: 0%;
         height: 0%; 
        background:black;
        left: 0;
        top: 0;
    }
    .cursor{
        width: 3rem;
        height: 3rem;
        border: 2px white;
        border-radius: 50%;
        position: absolute;

    }
